body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Helvetica", sans-serif;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.85;
  min-height: 100%;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("img/img_1.jpg");
}

.bgimg-2 {
  background-image: url("img/img_2.jpg");
}

.bgimg-3 {
  background-image: url("img/img_3.jpg");
}

.bgimg-4 {
  background-image: url("img/img_4.jpg");
}

.biobox {
  color: #f2f2f2;
  text-align:center;
  padding: 80px 80px;
  line-height: 20px;
  text-align: justify;
  text-shadow: 0 0 20px #000; 
  -moz-text-shadow: 0 0 20px #000;
  -webkit-text-shadow: 0 0 20px #000;
}

.biobox a:visited {
    color: #ffb6c1;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  color: #f2f2f2;
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  font-family: 'Permanent Marker', bold;
}

.navbar {
  overflow: visible;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 19px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
}

.dropdown-content a {
  float: none;
  color: #333;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer{
  background-color: #333;
  position: fixed;
  bottom:0px;
  width: 100%;
  color: #f2f2f2;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 25px "Helvetica", sans-serif;
  text-shadow: 0 0 20px #000; 
  -moz-text-shadow: 0 0 20px #000;
  -webkit-text-shadow: 0 0 20px #000;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
      background-attachment: scroll;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.coursebox {
  position: absolute;
  top: 15%;
  width: 100%;
  padding: 80px 80px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  color: black; 
  font-size: 30px;
  -webkit-text-stroke: 1px #f2f2f2;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  font-family: 'Permanent Marker', bold;
}

ul {
  list-style-type: none;
}

li {
  font-size: 25px;
  border: none;
}

li a { 
  text-decoration: none;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 100%;
}

.coursebox a:link {
  color:black;
  -webkit-text-stroke: 1px #f2f2f2;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
